.profile-btns {
  border-radius: 5px;
  padding: 20px 20px;
  margin: 10px 10px;
}

.profile-view-container {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  color: whitesmoke;
}

@media (max-width: 768px) {
  .profile-view-container,
  .profile-btns {
    width: 90%; /* Adjust the width for smaller screens */
  }
}